body {
    background: #ccc;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: solid 1px #505050;
    border-radius: 50px;    
}

#title, .subtitle, .post_title {
    color: #505050;
    text-transform: uppercase;
} 

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 0 0 40px 40px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;    
}

.post_img {
    margin-bottom: 15px;
    width: 100%;
}

.rontact_list {
    list-style-type: none;
    padding-left: 15;
}

.rontact_list li a {
    text-decoration: none;
}